@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,800;1,600&display=swap");
:root {
  /* Colors */
  /* Neutral */
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsla(0, 0%, 98%, 0.541);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-white: hsla(0, 0%, 100%, 0.811);
  --country-hover-shadow: hsl(207, 21%, 42%);

  /* Body Copy */
  /*
        - Homepage Items: 14px
        - Detail Page: 16px 
    */
  /* Font */
  --font-nunito: "Nunito Sans", sans-serif;
}
html,
body,
#root {
  min-height: 100vh;
  font-family: var(--font-nunito);
  background-color: var(--very-dark-blue);
  color: var(--white);
}
.country:hover {
  transition: all 0.5s;
  box-shadow: 0 0 10px var(--country-hover-shadow);
}

/* Dark Mode*/

#root.dark,
body.dark {
  background-color: var(--dark-white);
}
#root.dark header {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.156);
}
#root.dark header h3,
#root.dark header span {
  color: var(--black);
}
#root.dark .content .search-country {
  background-color: var(--white);
  color: var(--very-light-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
#root.dark .content .search-country input {
  color: black;
}
#root.dark .content .filter-country,
#root.dark .content .filter-country .filters {
  color: black;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
#root.dark .content .country {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
#root.dark .content .country .country-description h3,
#root.dark .content .country .country-description .desc-title {
  color: black;
}
#root.dark .content .country .country-description .desc-result {
  color: var(--dark-gray);
}

#root.dark .countries .selected-country-main button {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
#root.dark .countries .selected-country-main .selected-country-titles h3 {
  color: var(--black);
}
#root.dark .countries .selected-country-main .selected-country-titles span {
  color: var(--very-dark-blue-2);
}
#root.dark
  .countries
  .selected-country-main
  .selected-country-titles
  .border-countries
  .border {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
#root.dark
  .content
  .countries
  .selected-country-main
  .selected-country-titles
  .border-countries
  .no-border {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
